.utube-icon{
    color: white;
}
.twitter-icon{
    color: white;
}
.twitter-icon:hover{
    color:#c482e8;
}
.utube-icon:hover{
 color:#c482e8 ;
}
.fb-icon{
    color: white;
}
.fb-icon:hover{
    color:#c482e8;
}