<div class="p-5 " *ngIf="!casesNotFound" [hidden]="casesNotFound">
        <!-- <div  class="wishlist shadow-lg bg-light" style="width: 1360x ;height:50px;margin:10px 10px 10px 10px">
            <i id="d" class="fa fa-bookmark" aria-hidden="true" (click)="toggleWishlist()"></i>
                <strong style="color:blueviolet ;font-size:30px;text-transform:uppercase;margin-left: 90px;">{{CountryDetails.countryName}}</strong>
        </div>
        <div class="display-bar m-auto" style="width: 1360px ;height:125px">
                <div  class="d-item" style="color:red"><strong>CONFIRMED</strong><br><b>{{CountryDetails.totalCasesReported}}</b></div>
                <div class="d-item" style="color:rgb(100, 100, 222)" ><strong>ACTIVE</strong><br><b>{{CountryDetails.totalActiveCases}}</b></div>
                <div class="d-item" style="color:green"><strong>RECOVERED</strong><br><b>{{CountryDetails.totalCuredCases}}</b></div>
                <div class="d-item" style="color:gray"><strong>DECEASED</strong><br><b>{{CountryDetails.totalDeaths}}</b></div>
		</div>  -->
		<table class="table table-striped w-75 m-auto rounded shadow">
			<thead>
				<tr class="rounded">
					<th style="color: rgb(117, 25, 159);">PERSON NAME</th>
					<th class="text-primary">ACTIVE</th>
					<th class="text-warning">DEAD</th>
					<th class="text-danger">CURED</th>
					<th class="text-success">DATE REGISTERED</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of cases">
					<td data-cell="state" style="cursor: pointer;">{{data.personName}}</td>
					<td data-cell="confirmed">{{data.active}}</td>
					<td data-cell="active">{{data.inactiveOrdeath}}</td>
					<td data-cell="recovered">{{data.cured}}</td>
					<td data-cell="deceased">{{data.dateRegistered}}</td>
				</tr>
			</tbody>
		  </table>		
</div>

<div *ngIf="casesNotFound" class="text-center p-5 bg-light shadow font-weight-bold" style="font-style: calibri;">
	<i class="fa fa-info-circle" aria-hidden="true"></i> {{casesNotFound}}
</div>

<div class="text-center p-3" >
	<button class="btn text-white" style="background-color: rgb(55, 5, 77);" [routerLink]="['/dashboard']">Go back</button>
</div>
