<div class="p-5">
    <br>
    <h2 style="color:white;text-align: center;">Coronavirus (COVID-19) Precautions</h2>
    
    <div style="font-size: 25px;">
    <pre style="color:white;text-align: center;">
       <h3>Safety and Visitation</h3> 
        The number of COVID-19 cases and respiratory illnesses in the community continues to
        decrease.MD Anderson is updating processes to ensure your safety and improve your ex
        -perience.Our processes are designed to support patients while continuing to protect
        our community from COVID-19 and other respiratory illnesses.MD Anderson will continue
        monitoring local trends, including hospitalizations for COVID-19, and will reinstate 
        measures, if needed.We may change our visitation rules to ensure they best protect our
        patients, their families and our workforce.
        <div><a href="https://www.mdanderson.org/patients-family/becoming-our-patient/planning-for-care/coronavirus-protections.html" target="_blank" class="read-more">ReadMore</a></div>
    </pre>
</div>


</div>


